<div class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide"><img class="splide_image" src="./images/blueberry.jpg" alt="blueberry" width="1280"></li>
      <li class="splide__slide"><img class="splide_image" src="./images/cafe.jpg" alt="cafe" width="1280"></li>
      <li class="splide__slide"><img class="splide_image" src="./images/cake.jpg" alt="cake" width="1280"></li>
      <li class="splide__slide"><img class="splide_image" src="./images/coco.jpg" alt="coco" width="1280"></li>
      <li class="splide__slide"><img class="splide_image" src="./images/grape.jpg" alt="grape" width="1280"></li>
      <li class="splide__slide"><img class="splide_image" src="./images/ice-cream.jpg" alt="ice-cream" width="1280"></li>
      <li class="splide__slide"><img class="splide_image" src="./images/pizza.jpg" alt="pizza" width="1280"></li>
      <li class="splide__slide"><img class="splide_image" src="./images/spice.jpg" alt="spice" width="1280"></li>
      <li class="splide__slide"><img class="splide_image" src="./images/sushi.jpg" alt="sushi" width="1280"></li>
    </ul>
  </div>
</div>